body {
  background-image: url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

.myProfile {
  background-color: rgb(245, 228, 153);
  font-family: "Ultra";
  border: 1px solid #333;
  border-radius: 5px;
  color: rgb(82, 42, 10);
  border-radius: 2px;
  width: 45%;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.titleName {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.titlePlace {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.titleStatement {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nameProfile {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(140, 86, 41);
}

.hrProfile {
  margin: 40px 30px;
  border: 0;
  border-bottom: 2px solid rgb(82, 42, 10);
}

.placeProfile {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(140, 86, 41);
}

.statementProfile {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  color: rgb(140, 86, 41);
}

.postsProfile {
  margin-top: 1em;
  font-size: 25px;
}

.contact {
  font-style: italic;
  font-size: 20px;
}

.linkProfile {
  font-style: italic;
  text-decoration: none;
  color: rgb(82, 42, 10);
}

.linkProfile:link {
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.linkProfile:visited {
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.linkProfile:hover {
  display: block;
  text-decoration: none;
  font-weight: bold;
}
