@import 'https://fonts.googleapis.com/css?family=Ewert';
@import 'https://fonts.googleapis.com/css?family=Ultra';

body {
  background-image: url("./../Assets/compass-backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.myProfile {
  background-color: rgb(245, 228, 153);
  font-family: "Ultra";
  border: 1px solid #333;
  border-radius: 5px;
  color: rgb(82, 42, 10);
  border-radius: 2px;
  width: 40%;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.titleName {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.titlePlace {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.titleStatement {
  font-family: "Ewert";
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.nameProfile {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(140, 86, 41);
}

.hrProfile {
  margin: 20px 30px;
  border: 0;
  border-bottom: 2px solid rgb(82, 42, 10);
}

.placeProfile {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(140, 86, 41);
}

.statementProfile {
  font-weight: normal;
  font-size: 18px;
  max-width: 300px;
  margin: 0 auto;
  color: rgb(140, 86, 41);
}

.postsProfile {
  font-size: 25px;
  font-style: bold;
}

.contact {
  font-style: italic;
  font-size: 18px;
}

.linkProfile {
  text-decoration: none;
  color: rgb(82, 42, 10);
}

.linkProfile:link {
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.linkProfile:visited {
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.linkProfile:hover {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #595341;
}

.userImg {
  width: 35%;
  margin-bottom: 30px;
}
