.rating-cards .card {
    display:block; 
    margin:0 auto;
    max-width:600px;
    width:80%;
    margin-bottom:20px;
}

.rating-cards .ranking {
    display:block;
    position:absolute;
    font-size:45px;
    margin-bottom:-20px;
    z-index:200;
    text-align:center;
    width:100%;
    color:white;
    background:rgba(0,0,0,0.2);
}

.rating-cards h2 {
    color: white;
    font-size: 40px;
    text-shadow:2px 2px 3px rgba(0,0,0,0.5);
}
