.btn-submit {
    padding:5px;
    border:1px solid #ccc;
    margin-left:20px;
}


.input-search {
    padding:5px;
}

.btn-submit:focus, .input-search:focus {
    outline:none;
}
.continentSelection {margin-top:20px;}
.btn-continent {
    padding:5px 20px;
   
    background:white;
    margin-top:5px;
    margin-bottom:5px;
    border-right:1px solid #ccc;
    user-select: none;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
    background:#ccc;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    /* box-shadow: inset 0px 0px 5px;*/
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}