h1 {
  color: #a67c00;
  font-size: 50px;
  text-shadow: 4px 4px 4px #000000;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.menu {
  background-color: #a67c00;
  padding: 0.8em 1.8em;
  border-style: none;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: flex-end;
  margin: 1.5em;
  position: fixed;
  z-index: 1;
  border-radius: 8px;
}

.menu:focus {
  outline: none;
  box-shadow: none;
}

.sidebar:before,
body > .navbar-collapse:before {
  opacity: 0.33;
  background: #f00 !important;
}

/* @media only screen and (min-width: 700px) and (max-width: 1000px) {
  .menu {
  }
} */

@media only screen and (max-width: 500px) {
  .menu {
    padding: 0.3em 1em;
    margin: 0.3em;
  }
}
