.App {
  text-align: center;
}

.navWrapper {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  height: 4em;
  padding: 0;
}

.navItem {
  font-size: 25px;
}

.link:link {
  text-decoration: none;
  color: darkcyan;
}

.link:visited {
  text-decoration: none;
  color: darkcyan;
}

.link:hover {
  text-decoration: none;
  color: darkcyan;
}
